[run]
source = .
omit =
    */tests/*
    */test_*
    setup_commands.py
    main.py
    deploy/*
    .venv/*
    venv/*
    */site-packages/*
    scripts/*
    domain/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
