# Python
*.py[cod]
__pycache__/
*.so

# Виртуальные окружения
.venv/
venv/

# IDE
.idea/
.vscode/

# Логи
*.log

# Файлы окружения и секреты
.env
.env.*
*.env
*.json
google_credentials.json

# ОС
.DS_Store
# Системные файлы Windows/Mac
Thumbs.db

# Кеши инструментов / тестов
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache_ggshield
.coverage*
!.coveragerc
htmlcov/
coverage.xml

# Sphinx documentation build output
docs/build/

.local/